﻿@model CSharp_Final_Exam.Models.EstablishmentViewModels.RegisterEstablishmentViewModel

@{
    ViewBag.Title = "Add new place";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12" style="margin-top: 30px">
        <form method="post" asp-controller="Home" asp-action="CreateEstablishment" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-12 form-group">
                <div class="col-md-6 form-group">
                    <label asp-for="Title"></label>
                </div>
                <div class="col-md-6 form-group">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 form-group">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-md-6 form-group">
                    <textarea asp-for="Description" class="form-control" style="line-height: 60px ; resize: none"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 20px">
                <div class="col-md-6">
                    <label asp-for="Photo"></label><br />
                </div>
                <div class="col-md-6">
                    <label asp-for="Photo"></label><br />
                    <input asp-for="Photo" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 30px">
                <button type="submit" class="btn btn-default" style="padding: 10px 50px;font-size: 22px">Submit new place</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}