﻿@model CSharp_Final_Exam.Models.HomeViewModels.IndexViewModel
    
@{
    Layout = null;
}

<div id="ListOfEstablishments" class="col-md-12">
    @if (!Model.EstablishmentInfos.Any())
    {
        <div>Empty</div>
    }
    else
    {
        foreach (var item in Model.EstablishmentInfos)
        {
            <a asp-action="ViewEstablishment" asp-controller="Home" asp-route-establishmentId="@item.Establishment.Id">
                <div class="col-md-3" style="margin-bottom: 20px">
                    <div>
                        <img src="~/@item.Establishment.MainPhoto" width="200" height="150" />
                    </div>
                    <p style="margin-top: 10px; text-decoration: underline">@item.Establishment.Title</p>
                    <p style="margin-bottom: 0px">(@item.AverageRatings.ToString("F1"), @item.ReviewsCounts reviews)</p>
                    <p class="glyphicon glyphicon-camera"> @item.ImageCounts photos</p>
                </div>
            </a>
        }
    }
</div>
<div>
    @if (Model.PagingViewModel.HasPreviousPage)
    {
        <a onclick="sendPaging('@(Model.PagingViewModel.PageNumber - 1)')"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
        </a>
    }
    @if (Model.PagingViewModel.HasNextPage)
    {
        <a onclick="sendPaging('@(Model.PagingViewModel.PageNumber + 1)')"
           class="btn btn-default btn">
            Forward
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</div>
