﻿@model CSharp_Final_Exam.Models.HomeViewModels.EstablishmentProfileViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewBag.Title = "Establishment Profile";
}
<div class="container">
    <div class="col-md-12" style="margin-top: 20px">
        <div class="col-md-6">
            <h2>@Model.Establishment.Title</h2>
            <p>@Model.Establishment.Description</p>
        </div>
        <div class="col-md-6" style="float: right">
            <img src="~/@Model.Establishment.MainPhoto" width="350" height="230" />
        </div>
        <div class="col-md-12" style="margin-top: 20px">
            <h4>Gallery</h4>
            @if (!Model.Images.Any())
        {
            <p>Empty</p>
    }
    else
    {
        foreach (var image in Model.Images)
        {
            <div class="col-md-1">
                <img src="~/@image.ImagePath" width="60" height="60" />
            </div>
    }
}

        </div>
        <hr/>
        <div class="col-md-12" style="margin-top: 20px">
            <h4>Rating @Model.AverageRating.ToString("Fs")</h4>
        </div>
        <hr />
        <div class="col-md-12" style="margin-top: 20px">
            <h4>Reviews</h4>
            @if (!Model.Reviews.Any())
        {
            <p>Empty</p>
    }
    else
    {
        foreach (var review in Model.Reviews)
        {
            <div class="row col-md-12" style="border-bottom: 1px dashed; margin-bottom: 10px" >
                <p style="margin-bottom: 0">On @review.DateOfCreation.ToShortDateString(), @review.User.UserName said:</p>
                <p style="margin-bottom: 0">@review.Comment</p>
                <p style="margin-bottom: 0">@review.Rating.0</p>
            </div>
    }
}

        </div>

        <div class="row col-md-12" style="margin-top: 10px">
            @Html.Partial("_StatusMessage", Model.Message)
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="row col-md-12">
                    <form method="post" asp-controller="Home" asp-action="CreateReview">
                        <input asp-for="EstablishmentId"/>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="col-md-12 form-group">
                            <label asp-for="NewReview"></label>
                            <textarea asp-for="NewReview" class="form-control" style="resize: none"></textarea>
                            <span asp-validation-for="NewReview" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="RatingList"></label>
                            @Html.DropDownList("newRating", Model.RatingList, new {@class = "form-group-sm"})
                            <span asp-validation-for="RatingList"></span>
                        </div>
                        <div class="col-md-offset-7 col-md-2">
                            <button type="submit" class="btn btn-default">Submit review</button>
                        </div>
                    </form>
                </div>
                <hr/>
                <div class="row col-md-12" style="margin-top: 20px">
                    <form method="post" asp-controller="Home" asp-action="UploadNewPhoto" enctype="multipart/form-data">
                        <input asp-for="EstablishmentId"/>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="col-md-12 form-group">
                            <label asp-for="NewPhoto" style="margin-bottom: 15px"></label><br/>
                            <input asp-for="NewPhoto"/>
                            <span asp-validation-for="NewPhoto" class="text-danger"></span>
                        </div>
                        <div class="col-md-3" style="margin-top: 10px">
                            <button type="submit" class="btn btn-default">Upload</button>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <div class="row col-md-12">
                    <p>You can't add review and upload photo unless you are not authorized</p>
                </div>
            }
        </div>

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}



