@using Microsoft.AspNetCore.Identity
@using CSharp_Final_Exam.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
    
<ul class="nav navbar-nav navbar-left" style="margin-left: 400px; margin-top: 5px">
    <li>    
        <div class="topnav">
            <form asp-area="" asp-controller="Home" asp-action="SearchEstablishments" method="post" class="navbar-right">
                <input type="text" name="keyWord" style="margin-top: 0px; padding: 8px 10px" placeholder="Search..">
            </form>
        </div>
    </li>
</ul>
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" style="text-decoration: underline">Hello, @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="CreateEstablishment" title="Manage">Add new place</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{

    <div>
        <ul class="nav navbar-nav navbar-right">
            @*<li>    
                <div class="topnav">
                    <form asp-area="" asp-controller="Account" asp-action="Register" method="post" class="navbar-right">
                        <input type="text" placeholder="Search..">
                    </form>
                </div>
            </li>*@
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Sign up</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
        </ul>
    </div>

}
